<?xml version="1.0"?>


<robot name="rr100" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159"/>

  <!-- Base Size -->
  <xacro:property name="base_x_size" value="0.80" />
  <xacro:property name="base_y_size" value="0.280" />
  <xacro:property name="base_z_size" value="0.44" />

  <!-- Wheel Mounting Positions -->
  <xacro:property name="ground_clearance" value="0.11" />
  <xacro:property name="wheel_x_offset" value="0.0" />
  <xacro:property name="wheel_y_offset" value="0.0" />

  <xacro:property name="wheelbase" value="0.500" />
  <xacro:property name="track" value="0.600" />

  <xacro:arg name="rslidar_enabled" default="true" />
  <xacro:arg name="gpu" default="true"/>
  <xacro:arg name="realsense_enabled" default="true" />
  <xacro:arg name="gps_enabled" default="true" />

  <xacro:include filename="$(find rr100_description)/urdf/rr100.xacro" />
  <xacro:rr100 rslidar_enabled="$(arg rslidar_enabled)" gpu="$(arg gpu)" realsense_enabled="$(arg realsense_enabled)" gps_enabled="$(arg gps_enabled)">
    <origin xyz="0 0 ${(base_z_size + ground_clearance) / 2}" rpy="0.0 0.0 0.0"/>
  </xacro:rr100>

</robot>
